# General Ignored Files
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Node.js related (api/)
api/node_modules/
api/.env
api/.env.*
api/.env.local
api/.env.development
api/.env.production
api/.env.test
api/npm-debug.log*
api/yarn-error.log*
api/pids
api/pids/*

# Logs
api/logs/
api/*.log
api/log/
api/error.log
api/output.log

# Flutter/Dart/Pub related (client/)
client/**/doc/api/
client/**/ios/Flutter/.last_build_id
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.pub-cache/
client/.pub/
/client/build/

# Environment Variables (client/)
client/.env
client/.env.*
client/.env.local
client/.env.development
client/.env.production
client/.env.test

# Symbolication related
client/app.*.symbols

# Obfuscation related
client/app.*.map.json

# Android Studio build artifacts
client/android/app/debug
client/android/app/profile
client/android/app/release

# macOS build artifacts
client/.ios/
client/macos/Flutter/
